.echarts-next__pie-simple {
    position: relative;
    height: 100%;

    .pie-simple__legend {
        position: absolute;
        padding: 0 20px 20px;
        right: 0;
        bottom: 0;

        .legend__item {
            padding-bottom: 7px;
            border-bottom: 1px solid rgba(187, 211, 251, 0.2);
        }

        .legend__item {
            margin-top: 7px;
            display: flex;
            align-items: center;

            .item-color1 {
                position: relative;
                width: 6px;
                height: 6px;
            }

            .item-color2 {
                position: absolute;
                left: -3px;
                top: -3px;
                width: 12px;
                height: 12px;
                opacity: 0.12;
            }

            .item-name {
                margin-left: 8px;
                font-size: 13px;
                color: #BBD3FB;
                color: #BBD3FB;
            }

            .item-percent {
                margin-left: 10px;
                font-size: 13px;
                color: #BBD3FB;
            }
        }
    }
}
